# Django Framework
django
django-extensions

# Django REST Framework for building APIs
djangorestframework

# MySQL/MariaDB Database Connector (for XAMPP)
mysqlclient

# Pillow for image processing
Pillow

# JSON Web Token Authentication for DRF
djangorestframework-simplejwt

# CORS Headers for allowing cross-origin requests
django-cors-headers

# WSGI HTTP Server for production deployment
gunicorn

# Django Filter for powerful filtering against querysets
django-filter

# Manages environment variables and .env files
python-decouple
python-dotenv

# Django Channels for WebSocket support
channels
channels-redis
